# Package Files
*.jar
*.war
*.ear

# Eclipse and java files
.classpath
.settings/
.project
.metadata

# class files
*.class

# virtual machine crash logs
hs_err_pid*

# Mac OSX files
.DS_Store
.AppleDouble
.LSOverride

/target/

# Project tmp files
config.xml
db.properties
db.script
private.key
public.key
MessageSynchronizationBuffer
